/* Global Styling */
html, body {
    min-height:100vh;
    margin:0;
}

img {
    max-width: 100%;
}


/* Container for Entire Page, uses Flex */
#container{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

/* Top of Page */
header {
    background-color: purple;
    text-align: center;
}

/* Dropdown Navigation Styling
   DO NOT TOUCH PLEASE AND THANKS
   Adding sticky nav bar was cool, good idea
   Even though it doesn't completely work
   Not sure why it stops scrolling after a couple hundred pixels
   Height, and overflow do not mix with sticky, stop trying
   It should work now.    */
nav {
    height:3em;
    background-color: blue;

    position: sticky;
    top:0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav img{
    height:3em;
}


/* Styling for the list of navigation links */
#navList, #searchBar {
    width: 100%;
    background-color: green;

    position: absolute;
    top:3em;
    left:0;
}

#navList label {
    padding: 1em;
    border: 1px black solid;
}

#navList span {
    padding: .5em 1em;
}

/* Styling for sub-navigation links */
.subnavList a {
    background-color: purple;
    padding: .5em 3em;
    border: 1px black solid;
}

#searchButton {
    display: flex;
    flex-direction: row-reverse;
}

#searchBar input {
    border:none;
    height:2em;
}

/* Behaviours that should be converted to javascript */
#navDrop, #navList, #navList > .subnavList,
#navList > #drop1, #navList > #drop2,
#searchBar, #searchSubmit {
    display: none;
}

#navDrop:checked ~ #navList,
#drop1:checked ~ #sub1,
#drop2:checked ~ #sub2 {
    display: flex;
    flex-direction: column;
}

#searchSubmit:checked ~ #searchBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* End Behaviours */


/* Content Styling */

main {
    flex:1;
    padding: .5em;
    background-color: orange;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Content Card Styling */
.card {
    width:25em;
    margin: .5em;
    padding: 1em;
    background-color: pink;

    border: 1px solid black;
    border-radius: 2.5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardImage {
    display: flex;
    justify-content: center;
}

.cardText {
    background-color: grey;
    margin-top: 1em;
    text-align: justify;
}

.cardText p, .cardText h1 {
    padding: 0;
    margin:0;
}


/* Bottom of Page */
footer {
    background-color: cornflowerblue;
    padding-left: 1em;

    position: relative;
    bottom: 0;
}


/***** Media Queries *****/

/* Mobile */


/* Tablet */


/* Desktop */
